body, html {
	font-family: "Times New Roman" !important;
	font-size: 14px !important;
	height: 842px !important;
	width: 700px !important;
	margin-left: auto !important;
	margin-right: auto !important;
	letter-spacing: 1px !important;
}

.text-indent {
	text-indent: 40px !important;
}